.mygrid {
    width: 2360;
    height: 1500;
    display: grid;
    background-color: black;
    
    grid-gap: 0px;
    grid-template-columns: 150px 460px;
    grid-template-rows;30px 30px 460px 40px;
    grid-template-areas: 
        "header header navigacja"
            "main main main"
        "grafika1 grafika2 grafika3"
        "artykul artykul";
}

}
header{
    grid-area: header;
    background-color: white;
    width:250px;
    height: 90px;
    color: black;   
}


}
nav{
    grid-area: navigacja;
    max-width: 160px;
    margin: 0;
    padding: 1em;
    width: 250;
    height: 300;
}
article{
    grid-area: artykul;
    background-size: 600px;
    color: black;
    text-align: ;
    width: 600px;
    height: 200px;
}
.main{
    width: 50px;
    height: 50px;
    margin: center;
   
}
.grafika{
   position: static;
    width: 50%;
     
}
.graphika1{
    grid-area: graphika1:
    
}
.graphika2{
    grid-area: graphika2;
    position: absolute;
    top: 0;
    right:0;
   width: 20%;
}
.rysunek1{
    width: 150px;
    height: 300px;
    margin: auto
}
.layout1{
    width: 150px;
    height: 300px;
    
    
}
footer{
    grid-area: footer;
    width:50%;
        color: black;
    font-family: inherit;
    margin: right;
   
}
.block {
  width: 250px;
    height:50px;
    clear: right;
    margin: auto;
    
}
.block img {
   width: 100px;
    clear: right;
}
